[loggers]
keys=root

[handlers]
keys=file_handler

[formatters]
keys=simple_formatter

[logger_root]
level=NOTSET
handlers=file_handler
disable_existing_loggers=False

[handler_file_handler]
class=FileHandler
formatter=simple_formatter
args=("log_file.log","w+")

[formatter_simple_formatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=